<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý điểm thi</title>

    <!-- Tailwind -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
        .font-family-karla { font-family: karla; }
        .bg-sidebar { background: #3d68ff; }
        .cta-btn { color: #3d68ff; }
        .upgrade-btn { background: #1947ee; }
        .upgrade-btn:hover { background: #0038fd; }
        .active-nav-link { background: #1947ee; }
        .nav-item:hover { background: #1947ee; }
        .account-link:hover { background: #3d68ff; }
    </style>
</head>
<body class="bg-gray-100 font-family-karla flex">

<aside class="relative bg-sidebar h-screen w-64 hidden sm:block shadow-xl">
    <div class="p-6">
        <a href="home" class="text-white text-3xl font-semibold uppercase hover:text-gray-300">Quản lý điểm thi</a>
    </div>
    <nav class="text-white text-base font-semibold pt-3">
        <a href="home" class="flex items-center active-nav-link text-white py-4 pl-6 nav-item">
            <i class="fas fa-tachometer-alt mr-3"></i>
            Trang chủ
        </a>
        <a href="diemthi" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
            <i class="fa fa-user-graduate mr-3 fa-inverse"></i>
            Điểm thi
        </a>
        <a href="ttcanhan" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
            <i class="fa fa-info fa-inverse mr-3"></i>
            Thông tin cá nhân
        </a>
    </nav>
</aside>

<div class="w-full flex flex-col h-screen overflow-y-hidden">
    <!-- Desktop Header -->
    <header class="w-full items-center bg-white py-2 px-6 hidden sm:flex">
        <div class="w-1/2"></div>
        <div x-data="{ isOpen: false }" class="relative w-1/2 flex justify-end">
            <button @click="isOpen = !isOpen" class="realtive z-10 w-12 h-12 rounded-full overflow-hidden border-4 border-gray-400 hover:border-gray-300 focus:border-gray-300 focus:outline-none">
                <img src="https://code.ptit.edu.vn/2020/images/logo_ptit.png">
            </button>
            <button x-show="isOpen" @click="isOpen = false" class="h-full w-full fixed inset-0 cursor-default"></button>
            <div x-show="isOpen" class="absolute w-32 bg-white rounded-lg shadow-lg py-2 mt-16">
                <a href="#" class="block px-4 py-2 account-link hover:text-white">Account</a>
                <a href="#" class="block px-4 py-2 account-link hover:text-white">Support</a>
                <a href="/" class="block px-4 py-2 account-link hover:text-white">Sign Out</a>
            </div>
        </div>
    </header>

    <!-- Mobile Header & Nav -->
    <header x-data="{ isOpen: false }" class="w-full bg-sidebar py-5 px-6 sm:hidden">
        <div class="flex items-center justify-between">
            <a href="home" class="text-white text-3xl font-semibold uppercase hover:text-gray-300">Quản lý điểm thi</a>
            <button @click="isOpen = !isOpen" class="text-white text-3xl focus:outline-none">
                <i x-show="!isOpen" class="fas fa-bars"></i>
                <i x-show="isOpen" class="fas fa-times"></i>
            </button>
        </div>

        <!-- Dropdown Nav -->
        <nav :class="isOpen ? 'flex': 'hidden'" class="flex flex-col pt-4">
            <a href="home" class="flex items-center active-nav-link text-white py-4 pl-6 nav-item">
                <i class="fas fa-tachometer-alt mr-3"></i>
                Trang chủ
            </a>
            <a href="diemthi" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
                <i class="fa fa-info fa-inverse mr-3"></i>
                Điểm thi
            </a>
            <a href="ttcanhan" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
                <i class="fa fa-table fa-inverse mr-3"></i>
                Thông tin cá nhân
            </a>
        </nav>

    </header>

    <div class="w-full overflow-x-hidden border-t flex flex-col">
        <main class="w-full flex-grow p-6">
            <h1 class="text-3xl text-black pb-6">Xin chào!</h1>

            <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
                <div class="bg-white p-6 rounded-lg shadow-md overflow-hidden">
                    <h2 class="text-2xl font-semibold mb-4 text-gray-800">Giới thiệu</h2>
                    <p class="text-gray-700 leading-relaxed text-lg">Web quản lý điểm thi sinh viên là một nền tảng hiệu quả được thiết kế
                        để giúp quản lý và theo dõi điểm thi của sinh viên một cách dễ dàng và tiện lợi.
                        Với giao diện thân thiện và tính năng đa dạng, web này cho phép quản trị viên nhập điểm,
                        sinh viên tra cứu điểm một cách nhanh chóng và tiện lợi. Bên cạnh đó, web còn cung cấp
                        các tính năng quản lý thông tin cá nhân, lịch thi và thông báo cho sinh viên, giúp họ dễ dàng
                        tổ chức thời gian học tập một cách hiệu quả.</p>
                </div>

                <div class="bg-white p-6 rounded-lg shadow-md">
                    <div class="grid grid-cols-2 gap-4">
                        <img src="https://citgroup.vn/wp-content/uploads/2024/01/top-phan-mem-quan-ly-diem-thi.png" alt="Hình ảnh 1" class="rounded-lg">
                        <img src="https://phanmemungdungvn.com/wp-content/uploads/2020/03/phan-mem-quan-ly-hoc-vien-1.jpg" alt="Hình ảnh 2" class="rounded-lg">
                        <img src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi5e-E-VawBqy6uA6M7T3nJsLrI6lGIzmFaWp9K6UiPDALCplZw8pA9ei3Y_7NTk4eNGh-eLBj75kgwgPiAZll-3qydVTyruJ-swUknwc6GXloZqnn4GWHZsRda68YmSb88JlZv8dkn2knG/s1600/bi-quyet-hoc-tap-1.jpg" alt="Hình ảnh 3" class="rounded-lg">
                        <img src="https://img.pikbest.com/png-images/qianku/graduation-photos-of-students-wearing-bachelor-uniforms_2233309.png!w700wp" alt="Hình ảnh 4" class="rounded-lg">
                    </div>
                </div>
            </div>
        </main>



    </div>

</div>

<!-- AlpineJS -->
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
<!-- Font Awesome -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
<!-- ChartJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>

</body>
</html>
