<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý điểm thi</title>

    <!-- Tailwind -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
        .font-family-karla { font-family: karla; }
        .bg-sidebar { background: #3d68ff; }
        .cta-btn { color: #3d68ff; }
        .upgrade-btn { background: #1947ee; }
        .upgrade-btn:hover { background: #0038fd; }
        .active-nav-link { background: #1947ee; }
        .nav-item:hover { background: #1947ee; }
        .account-link:hover { background: #3d68ff; }
    </style>
</head>
<body class="bg-gray-100 font-family-karla flex">

<aside class="relative bg-sidebar h-screen w-64 hidden sm:block shadow-xl">
    <div class="p-6">
        <a href="homeGV" class="text-white text-3xl font-semibold uppercase hover:text-gray-300">Quản lý điểm thi</a>
    </div>
    <nav class="text-white text-base font-semibold pt-3">
        <a href="homeGV" class="flex items-center text-white py-4 pl-6 nav-item opacity-75 hover:opacity-100 ">
            <i class="fas fa-tachometer-alt mr-3"></i>
            Trang chủ
        </a>
        <a href="lop" class="active-nav-link flex items-center text-white py-4 pl-6 nav-item">
            <i class="fa fa-user-graduate mr-3 fa-inverse"></i>
            Lớp
        </a>
        <a href="ttcanhanGV" class="flex items-center text-white py-4 pl-6 nav-item opacity-75 hover:opacity-100 ">
            <i class="fa fa-info fa-inverse mr-3"></i>
            Thông tin cá nhân
        </a>
    </nav>
</aside>

<div class="w-full flex flex-col h-screen overflow-y-hidden">
    <!-- Desktop Header -->
    <header class="w-full items-center bg-white py-2 px-6 hidden sm:flex">
        <div class="w-1/2"></div>
        <div x-data="{ isOpen: false }" class="relative w-1/2 flex justify-end">
            <button @click="isOpen = !isOpen" class="realtive z-10 w-12 h-12 rounded-full overflow-hidden border-4 border-gray-400 hover:border-gray-300 focus:border-gray-300 focus:outline-none">
                <img src="https://code.ptit.edu.vn/2020/images/logo_ptit.png">
            </button>
            <button x-show="isOpen" @click="isOpen = false" class="h-full w-full fixed inset-0 cursor-default"></button>
            <div x-show="isOpen" class="absolute w-32 bg-white rounded-lg shadow-lg py-2 mt-16">
                <a href="#" class="block px-4 py-2 account-link hover:text-white">Account</a>
                <a href="#" class="block px-4 py-2 account-link hover:text-white">Support</a>
                <a href="/admin" class="block px-4 py-2 account-link hover:text-white">Trang ADMIN</a>
                <a href="/" class="block px-4 py-2 account-link hover:text-white">Sign Out</a>
            </div>
        </div>
    </header>

    <!-- Mobile Header & Nav -->
    <header x-data="{ isOpen: false }" class="w-full bg-sidebar py-5 px-6 sm:hidden">
        <div class="flex items-center justify-between">
            <a href="homeGV" class="text-white text-3xl font-semibold uppercase hover:text-gray-300">Quản lý điểm thi</a>
            <button @click="isOpen = !isOpen" class="text-white text-3xl focus:outline-none">
                <i x-show="!isOpen" class="fas fa-bars"></i>
                <i x-show="isOpen" class="fas fa-times"></i>
            </button>
        </div>

        <!-- Dropdown Nav -->
        <nav :class="isOpen ? 'flex': 'hidden'" class="flex flex-col pt-4">
            <a href="homeGV" class="flex items-center text-white py-4 pl-6 nav-item opacity-75 hover:opacity-100">
                <i class="fas fa-tachometer-alt mr-3"></i>
                Trang chủ
            </a>
            <a href="lop" class="active-nav-link flex items-center text-white py-4 pl-6 nav-item">
                <i class="fa fa-info fa-inverse mr-3"></i>
                Lớp
            </a>
            <a href="ttcanhanGV" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
                <i class="fa fa-table fa-inverse mr-3"></i>
                Thông tin cá nhân
            </a>
        </nav>

    </header>

    <div class="w-full overflow-x-hidden border-t flex flex-col">
        <main class="w-full flex-grow p-6">
            <h1 class="text-3xl text-black pb-6">Xin chào!</h1>
            <div class="w-full mt-12">
<!--                <form id="searchForm" action="lop/sinhvien" method="get">-->
<!--                    <div class="flex mb-4">-->
<!--                        <div class="mr-4 flex-grow">-->
<!--                            <input name="masv" class="block w-full px-3 py-2 text-gray-700 border rounded-lg focus:outline-none" type="text" placeholder="Mã sinh viên">-->
<!--                        </div>-->
<!--                        <div class="mr-4 flex-grow">-->
<!--                            <input name="tensv" class="block w-full px-3 py-2 text-gray-700 border rounded-lg focus:outline-none" type="text" placeholder="Tên sinh viên">-->
<!--                        </div>-->
<!--                        <div class="mr-4 flex-grow">-->
<!--                            <select name="gioi_tinh" class="block w-full px-3 py-2.5 text-gray-700 border rounded-lg focus:outline-none ">-->
<!--                                <option value="">Tất cả</option>-->
<!--                                <option value="nam">Nam</option>-->
<!--                                <option value="nu">Nữ</option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                        <div class="mr-4 flex-grow">-->
<!--                            <input name="username" class="block w-full px-3 py-2 text-gray-700 border rounded-lg focus:outline-none" type="text" placeholder="Tên tài khoản">-->
<!--                        </div>-->
<!--                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">-->
<!--                            Tìm kiếm-->
<!--                        </button>-->
<!--                    </div>-->
<!--                </form>-->
                <div class="text-xl pb-3 flex items-center">
                    <i class="fas fa-list mr-3"></i><h2 class="text-xl text-black" th:text="${giangVienlog.getLop().getTenLop()}" ></h2>
                </div>
                <div class="bg-white overflow-auto">
                    <table class="text-left w-full border-collapse"> <!--Border collapse doesn't work on this site yet but it's available in newer tailwind versions -->
                        <thead>
                        <tr>
                            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Mã sinh viên</th>
                            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Tên sinh viên</th>
                            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Tài khoản</th>
                            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Giới tính</th>
                            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Email</th>

                        </tr>
                        </thead>
                        <tbody>
                        <!-- Dòng 1 -->
                            <tr class="hover:bg-gray-200"  th:each="sinhvien : ${sinhVienList}">
                                <td class="py-4 px-6 border-b border-gray-200" th:text="${sinhvien.getMaSV()}"></td>
                                <td class="py-4 px-6 border-b border-gray-200" th:text="${sinhvien.getTenSV()}"></td>
                                <td class="py-4 px-6 border-b border-gray-200" th:text="${sinhvien.getUsername()}"></td>
                                <td class="py-4 px-6 border-b border-gray-200" th:text="${sinhvien.getGioiTinh()}"></td>
                                <td class="py-4 px-6 border-b border-gray-200" th:text="${sinhvien.getEmail()}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>



            <div class="w-full mt-12 hidden">
                <p class="text-xl pb-3 flex items-center">
                    <i class="fas fa-list mr-3"></i> Danh sách sinh viên
                </p>
                <div class="bg-white overflow-auto">
                    <table class="text-left w-full border-collapse"> <!--Border collapse doesn't work on this site yet but it's available in newer tailwind versions -->
                        <thead>
                        <tr>
                            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Mã sinh viên</th>
                            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Tên sinh viên</th>
                            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Tên tài khoản</th>
                            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">GPA</th>
                            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Số điện thoại</th>
                            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Xem chi tiết</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr class="hover:bg-gray-200">
                            <td class="py-4 px-6 border-b border-gray-200">SV001</td>
                            <td class="py-4 px-6 border-b border-gray-200">Nguyễn Văn A</td>
                            <td class="py-4 px-6 border-b border-gray-200">van.a</td>
                            <td class="py-4 px-6 border-b border-gray-200">3.5</td>
                            <td class="py-4 px-6 border-b border-gray-200">0123456789</td>
                            <td class="py-4 px-6 border-b border-gray-200"><a href="/user/sinhvien/ttcanhan.html" class="hover:underline">Chi tiết</a></td>
                        </tr>
                        <!-- Dòng 2 -->
                        <tr class="hover:bg-gray-200">
                            <td class="py-4 px-6 border-b border-gray-200">SV002</td>
                            <td class="py-4 px-6 border-b border-gray-200">Trần Thị B</td>
                            <td class="py-4 px-6 border-b border-gray-200">thi.b</td>
                            <td class="py-4 px-6 border-b border-gray-200">3.2</td>
                            <td class="py-4 px-6 border-b border-gray-200">0987654321</td>
                            <td class="py-4 px-6 border-b border-gray-200"><a href="/user/sinhvien/ttcanhan.html" class="hover:underline">Chi tiết</a></td>
                        </tr>
                        <!-- Dòng 3 -->
                        <tr class="hover:bg-gray-200">
                            <td class="py-4 px-6 border-b border-gray-200">SV003</td>
                            <td class="py-4 px-6 border-b border-gray-200">Lê Văn C</td>
                            <td class="py-4 px-6 border-b border-gray-200">van.c</td>
                            <td class="py-4 px-6 border-b border-gray-200">3.7</td>
                            <td class="py-4 px-6 border-b border-gray-200">0123987654</td>
                            <td class="py-4 px-6 border-b border-gray-200"><a href="/user/sinhvien/ttcanhan.html" class="hover:underline">Chi tiết</a></td>
                        </tr>
                        <!-- Dòng 4 -->
                        <tr class="hover:bg-gray-200">
                            <td class="py-4 px-6 border-b border-gray-200">SV004</td>
                            <td class="py-4 px-6 border-b border-gray-200">Phạm Thị D</td>
                            <td class="py-4 px-6 border-b border-gray-200">thi.d</td>
                            <td class="py-4 px-6 border-b border-gray-200">3.9</td>
                            <td class="py-4 px-6 border-b border-gray-200">0978456321</td>
                            <td class="py-4 px-6 border-b border-gray-200"><a href="/user/sinhvien/ttcanhan.html" class="hover:underline">Chi tiết</a></td>
                        </tr>
                        <!-- Dòng 5 -->
                        <tr class="hover:bg-gray-200">
                            <td class="py-4 px-6 border-b border-gray-200">SV005</td>
                            <td class="py-4 px-6 border-b border-gray-200">Hoàng Văn E</td>
                            <td class="py-4 px-6 border-b border-gray-200">van.e</td>
                            <td class="py-4 px-6 border-b border-gray-200">3.4</td>
                            <td class="py-4 px-6 border-b border-gray-200">0987456321</td>
                            <td class="py-4 px-6 border-b border-gray-200"><a href="/user/sinhvien/ttcanhan.html" class="hover:underline">Chi tiết</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>



    </div>

</div>

<!-- AlpineJS -->
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
<!-- Font Awesome -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
<!-- ChartJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>

</body>
</html>
